In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Match.csv")
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [3]:
df.shape

(69761, 21)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

In [5]:
df[["player_dismissed"]].value_counts()

player_dismissed
RG Sharma           59
SK Raina            59
AC Gilchrist        57
G Gambhir           56
Yuvraj Singh        55
                    ..
A Choudhary          1
BAW Mendis           1
H Das                1
GR Napier            1
Jaskaran Singh       1
Length: 354, dtype: int64

In [6]:
df[["fielder"]].value_counts()

fielder
RV Uthappa         61
KD Karthik         57
MS Dhoni           55
AC Gilchrist       54
KC Sangakkara      46
                   ..
RA Jadeja (sub)     1
Misbah-ul-Haq       1
AD Mascarenhas      1
M Kaif (sub)        1
KS Williamson       1
Length: 352, dtype: int64

In [7]:
df[["dismissal_kind"]].value_counts()

dismissal_kind
caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
hit wicket              4
retired hurt            4
dtype: int64

In [8]:
#Find Team wise runs scored.
team_wise=df.groupby("batting_team")["total_runs"].sum().sort_values(ascending=False)
team_wise

batting_team
Mumbai Indians                 11202
Kings XI Punjab                10763
Delhi Daredevils               10654
Royal Challengers Bangalore    10221
Kolkata Knight Riders           9924
Chennai Super Kings             9253
Deccan Chargers                 8931
Rajasthan Royals                8039
Rising Pune Supergiant          2470
Gujarat Lions                   2412
Sunrisers Hyderabad             2349
Kochi Tuskers Kerala            1760
Pune Warriors                   1657
Name: total_runs, dtype: int64

In [9]:
# Find Total Runs of Virat Kohli.
player_runs=df.groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False)
player_runs["V Kohli"]

1428

In [10]:
# Find Total Runs of Your Fav Player.
df[df["batsman"]=="MS Dhoni"][["total_runs"]].sum()

total_runs    1650
dtype: int64

In [11]:
# Extra Runs Given By All Bowlers in a League.
Extra_runs=df.groupby("bowler")["extra_runs"].sum()
Extra_runs

bowler
A Choudhary      7
A Flintoff       1
A Kumble        62
A Mishra        60
A Mithun        19
                ..
YA Abdulla      17
YK Pathan       50
YS Chahal       30
Yuvraj Singh    11
Z Khan          89
Name: extra_runs, Length: 285, dtype: int64

In [12]:
# Extra Runs Given By TS Mills.
bowler=df.groupby("bowler")["extra_runs"].sum().sort_values(ascending=False)
bowler

bowler
SL Malinga      158
RP Singh        135
I Sharma        118
P Kumar         111
IK Pathan       101
               ...
I Malhotra        0
B Chipli          0
Tejas Baroka      0
A Nel             0
TM Head           0
Name: extra_runs, Length: 285, dtype: int64

In [13]:
# Catches Taken By Mandeep Singh.
mask=df[df["dismissal_kind"]=="caught"]
mask[mask["fielder"]=="Mandeep Singh"][["batsman","dismissal_kind"]]

              batsman dismissal_kind
11          DA Warner         caught
2728   MJ McClenaghan         caught
3922     DT Christian         caught
4691         DR Smith         caught
6355        CR Woakes         caught
9751         SE Marsh         caught
69340       IK Pathan         caught

In [14]:
# How Many Times DA Warner is dismissed by Mohammed Shami.
msk1=df["player_dismissed"]=="DA Warner"
mask2=df["bowler"]=="Mohammed Shami"
len(df[msk1 & mask2][["batsman","bowler"]])
df[msk1 & mask2][["batsman","bowler"]]

        batsman          bowler
9029  DA Warner  Mohammed Shami

In [15]:
# Total Number of Wickets Taken by YS Chahal.
bowl=df[df["bowler"]=="YS Chahal"]
bowl["player_dismissed"].count()

14

In [16]:
# Find Number of Stump Out done by MS Dhoni.
m1=df["dismissal_kind"]=="stumped"
m2=df["fielder"]=='MS Dhoni'
df[m1 & m2][["batsman","dismissal_kind","fielder"]]

              batsman dismissal_kind   fielder
3024      BB McCullum        stumped  MS Dhoni
4006   AB de Villiers        stumped  MS Dhoni
11944     CJ Anderson        stumped  MS Dhoni
28296      RV Uthappa        stumped  MS Dhoni
32944       DA Warner        stumped  MS Dhoni
35415        GC Smith        stumped  MS Dhoni
35445         AS Raut        stumped  MS Dhoni
49905       AT Rayudu        stumped  MS Dhoni
51089       MD Mishra        stumped  MS Dhoni
52411        CH Gayle        stumped  MS Dhoni
52422       DJ Hussey        stumped  MS Dhoni
52495         WP Saha        stumped  MS Dhoni
54962       MD Mishra        stumped  MS Dhoni
55630        MS Bisla        stumped  MS Dhoni
55677      EJG Morgan        stumped  MS Dhoni
55692       MK Tiwary        stumped  MS Dhoni
60699       AT Rayudu        stumped  MS Dhoni

In [17]:
len(df[m1 & m2 ])

17

In [30]:
# How Many Times S Dhawan Got Out by lbw.
df[(df["batsman"]=="S Dhawan") & (df["dismissal_kind"]=="lbw")]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
31390,135,2,Mumbai Indians,Kings XI Punjab,5,1,S Dhawan,JP Duminy,YA Abdulla,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN
46812,199,1,Mumbai Indians,Deccan Chargers,4,3,S Dhawan,SR Tendulkar,Jaskaran Singh,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN

In [19]:
# Total number sixes hit by MS Dhoni.
b1=df['batsman_runs']==6
b2=df['batsman']=='MS Dhoni'
len(df[b1 & b2][['batsman','batsman_runs']])

62

In [20]:
# Total numbers of balls faced by MI Players.
df.groupby('batting_team')['ball'].count().sort_values(ascending=False)

batting_team
Mumbai Indians                 8662
Kings XI Punjab                8208
Delhi Daredevils               8197
Royal Challengers Bangalore    8188
Kolkata Knight Riders          7887
Deccan Chargers                7078
Chennai Super Kings            6987
Rajasthan Royals               6443
Rising Pune Supergiant         1900
Sunrisers Hyderabad            1679
Gujarat Lions                  1675
Kochi Tuskers Kerala           1455
Pune Warriors                  1402
Name: ball, dtype: int64

In [31]:
# Total numbers of balls faced by KKR Players.
df[df["batting_team"]=="Kolkata Knight Riders"][["ball"]].sum()

ball    28638
dtype: int64

In [22]:
# Find the total number of runs scored by Sachin Tendulkar.
df[df['batsman']=='SR Tendulkar']['batsman_runs'].sum()

1578

In [23]:
# Find the total number of balls faced by Schin Tendulkar.
df[df['batsman']=='SR Tendulkar']['ball'].count()

1388

In [24]:
# Find Sachin Tendulkar's dismissal types in IPL.
df[df['player_dismissed']=='SR Tendulkar']['dismissal_kind'].value_counts()

caught               23
bowled                7
lbw                   5
run out               2
caught and bowled     1
stumped               1
Name: dismissal_kind, dtype: int64

In [32]:
# Find the bowlers who dismissed SR Tendulkar.
df[df["player_dismissed"]=="SR Tendulkar"]["bowler"].value_counts()

PP Chawla          2
IK Pathan          2
R Sharma           2
R Vinay Kumar      2
PJ Sangwan         2
RP Singh           2
A Mishra           2
Joginder Sharma    1
JH Kallis          1
T Thushara         1
DW Steyn           1
SB Jakati          1
DE Bollinger       1
AL Menaria         1
RJ Harris          1
Yuvraj Singh       1
P Kumar            1
L Balaji           1
R Bhatia           1
AD Mascarenhas     1
Shoaib Akhtar      1
SK Raina           1
SK Warne           1
D du Preez         1
AB Agarkar         1
VS Malik           1
LR Shukla          1
PP Ojha            1
SK Trivedi         1
VY Mahesh          1
Shahid Afridi      1
Anand Rajan        1
Name: bowler, dtype: int64

In [26]:
# How many times was Suresh Raina dismissed.
len(df[df['player_dismissed']=='SK Raina']['dismissal_kind'])

59

In [34]:
# Display player details who hit the maximum no of sixes in the current IPL tournament.
df[df["total_runs"]==6]["batsman"]

10           DA Warner
47        MC Henriques
75        Yuvraj Singh
89        Yuvraj Singh
91        MC Henriques
             ...
69653         MR Marsh
69657       WD Parnell
69690          S Sohal
69693          S Sohal
69748    KC Sangakkara
Name: batsman, Length: 2920, dtype: object

In [28]:
# What is the Overall No Balls Runs for each team in the dataset?
No_ball_runs=df.groupby('batting_team')['noball_runs'].sum().sort_values(ascending=False)
No_ball_runs

batting_team
Deccan Chargers                45
Rajasthan Royals               45
Delhi Daredevils               42
Mumbai Indians                 42
Kolkata Knight Riders          39
Kings XI Punjab                36
Royal Challengers Bangalore    34
Chennai Super Kings            32
Kochi Tuskers Kerala           11
Gujarat Lions                  10
Pune Warriors                   9
Sunrisers Hyderabad             6
Rising Pune Supergiant          1
Name: noball_runs, dtype: int64

In [35]:
# Which player scored the most runs in the dataset?
cmax=df["total_runs"].max()

df[df["total_runs"]==cmax]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2443,11,1,Kings XI Punjab,Kolkata Knight Riders,14,5,DA Miller,WP Saha,C de Grandhomme,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
5853,25,1,Sunrisers Hyderabad,Rising Pune Supergiant,15,3,DA Warner,MC Henriques,Imran Tahir,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
11616,50,1,Kings XI Punjab,Mumbai Indians,4,2,MJ Guptill,WP Saha,SL Malinga,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
11691,50,1,Kings XI Punjab,Mumbai Indians,16,1,SE Marsh,WP Saha,MJ McClenaghan,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
15401,66,1,Deccan Chargers,Delhi Daredevils,20,6,WPUJC Vaas,RP Singh,VY Mahesh,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
18537,79,2,Delhi Daredevils,Chennai Super Kings,7,3,V Sehwag,G Gambhir,Joginder Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
23170,99,2,Mumbai Indians,Kolkata Knight Riders,6,3,ST Jayasuriya,DJ Thornely,I Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
24676,106,2,Mumbai Indians,Kings XI Punjab,20,1,SD Chitnis,CRD Fernando,VRV Singh,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
25658,110,2,Chennai Super Kings,Rajasthan Royals,19,5,JA Morkel,MS Gony,MM Patel,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
29251,126,2,Kolkata Knight Riders,Rajasthan Royals,16,6,SC Ganguly,Yashpal Singh,MM Patel,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
36547,156,2,Royal Challengers Bangalore,Kolkata Knight Riders,18,6,MV Boucher,LRPL Taylor,I Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
38632,165,1,Delhi Daredevils,Rajasthan Royals,19,2,AB de Villiers,KD Karthik,MM Patel,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
40704,173,2,Royal Challengers Bangalore,Chennai Super Kings,19,1,LRPL Taylor,V Kohli,JDP Oram,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
47116,200,1,Delhi Daredevils,Kolkata Knight Riders,14,6,DA Warner,PD Collingwood,AB Agarkar,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
47770,202,2,Chennai Super Kings,Royal Challengers Bangalore,19,6,SK Raina,C Ganapathy,R Vinay Kumar,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
55967,237,1,Kochi Tuskers Kerala,Royal Challengers Bangalore,6,2,VVS Laxman,BB McCullum,A Mithun,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
58900,249,1,Deccan Chargers,Kings XI Punjab,18,2,DT Christian,MS Gony,R McLaren,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
64885,274,2,Kochi Tuskers Kerala,Delhi Daredevils,4,6,BB McCullum,M Klinger,UT Yadav,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
67014,283,2,Royal Challengers Bangalore,Kochi Tuskers Kerala,3,2,CH Gayle,TM Dilshan,P Parameswaran,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN

In [37]:
# Extra Runs Given By A Choudhary.
e = df[df["bowler"]=="A Choudhary"][["extra_runs"]]
e.sum()

extra_runs    7
dtype: int64

In [38]:
# 5 bowler they are dismissed the player
df.groupby('bowler')['player_dismissed'].count().head(5)

bowler
A Choudhary     5
A Flintoff      2
A Kumble       49
A Mishra       70
A Mithun        5
Name: player_dismissed, dtype: int64

In [39]:
#top 5 player scored the most runs in the dataset?
top_bats=df.groupby("batsman")['batsman_runs'].sum()
top_bats.head(5)

batsman
A Chopra        53
A Choudhary     25
A Flintoff      62
A Kumble        35
A Mishra       219
Name: batsman_runs, dtype: int64

# Penalty Runs Given

In [45]:
df[df["penalty_runs"]==5]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
15476,66,2,Delhi Daredevils,Deccan Chargers,12,6,V Sehwag,S Dhawan,PP Ojha,0,...,0,0,0,5,0,5,5,NaN,NaN,NaN

# Top 10 Wicket Takers

In [47]:
df.groupby('bowler')['player_dismissed'].count().sort_values(ascending=False).head(10)

bowler
SL Malinga         77
IK Pathan          72
RP Singh           71
A Mishra           70
PP Ojha            65
JA Morkel          64
Harbhajan Singh    62
PP Chawla          62
Z Khan             62
SK Warne           59
Name: player_dismissed, dtype: int64

# *ALL THE BEST*